<section
    data-bs-version="5.1"
    class="footer3 cid-t9euZaHZu8 mbr-reveal"
    once="footers"
    id="footer3-37"
>
    <div class="container">
        <div class="media-container-row align-center">
            <div class="row row-links">
                <ul class="foot-menu">
                    <li class="foot-menu-item display-7">
                        <a href="{{ url_for('core.index') }}" class="text-success text-primary"
                            ><strong>{{ _("Home Page") }}</strong></a
                        >
                    </li>
                    <li class="foot-menu-item display-7">
                        <a
                            href="{{ url_for('content.models') }}"
                            class="text-success text-primary"
                            ><strong>{{ _("Models") }}</strong></a
                        >
                    </li>
                    <li class="foot-menu-item display-7">
                        <a
                            href="https://discord.com/invite/sRrXpyZ"
                            class="text-success text-primary"
                            ><strong>{{ _("Discord") }}</strong></a
                        >
                    </li>
                </ul>
            </div>

            <div class="row row-copirayt">
                <p
                    class="mbr-text mb-0 align-center display-7"
                >
                    &copy; Copyright 2026 The Bestbois - Website by
                    <a href="{{ url_for('core.team', _anchor='team2-4m') }}" class="text-secondary"
                        >Julian</a
                    >
                    - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
