<section
    data-bs-version="5.1"
    class="menu menu2 cid-t9euZ9YXzK"
    once="menu"
    id="menu2-35"
>
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{{ url_for('core.index') }}">
                        <img
                            src="{{ url_for('static', filename='img/android-chrome-512x512-128x128-1.png') }}"
                            alt="{{ _("Spin Boi") }}"
                            style="height: 3rem"
                        />
                    </a>
                </span>
                <span class="navbar-caption-wrap"
                    ><a
                        class="navbar-caption text-white text-primary display-5"
                        href="{{ url_for('core.index') }}"
                        >{{ _("The Bestbois") }}</a
                    ></span
                >
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-bs-toggle="collapse"
                data-target="#navbarSupportedContent"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="{{ _("Toggle navigation") }}"
            >
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul
                    class="navbar-nav nav-dropdown nav-right"
                    data-app-modern-menu="true"
                >
                    <li class="nav-item">
                        <a
                            class="nav-link link text-white text-primary display-4"
                            href="{{ url_for('content.models') }}"
                            aria-expanded="false"
                            ><span
                                class="fas fa-fw fa-file-archive mbr-iconfont mbr-iconfont-btn"
                            ></span
                            >{{ _("Models") }}</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link link text-white text-primary display-4"
                            href="{{ url_for('core.lore') }}"
                            aria-expanded="false"
                            ><span
                                class="fas fa-fw fa-book mbr-iconfont mbr-iconfont-btn"
                            ></span
                            >{{ _("Lore") }}</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link link text-white text-primary display-4"
                            href="{{ url_for('content.worlds') }}"
                            ><span
                                class="fas fa-fw fa-globe-europe mbr-iconfont mbr-iconfont-btn"
                            ></span
                            >{{ _("Worlds") }}</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link link text-white text-primary display-4"
                            href="{{ url_for('core.team') }}"
                            ><span
                                class="fas fa-fw fa-question-circle mbr-iconfont mbr-iconfont-btn"
                            ></span
                            >{{ _("About") }}</a
                        >
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link link text-white dropdown-toggle display-4"
                            data-toggle="dropdown-submenu"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-expanded="false"
                            ><span
                                class="material material-stay-primary-portrait mbr-iconfont mbr-iconfont-btn"
                            ></span
                            >{{ _("Socials") }}</a
                        >
                        <div
                            class="dropdown-menu"
                            aria-labelledby="dropdown-294"
                        >
                            <a
                                class="text-white dropdown-item text-primary display-4"
                                href="https://discord.com/invite/sRrXpyZ"
                                ><span
                                    class="fab fa-fw fa-discord mbr-iconfont mbr-iconfont-btn"
                                ></span
                                >{{ _("Discord") }}</a
                            ><a
                                class="text-white dropdown-item text-primary display-4"
                                href="https://twitter.com/BestboiProject"
                                ><span
                                    class="fab fa-fw fa-twitter-square mbr-iconfont mbr-iconfont-btn"
                                ></span
                                >{{ _("Twitter") }}</a
                            ><a
                                class="text-white dropdown-item text-primary display-4"
                                href="https://www.youtube.com/channel/UC0y1iZag4PiXvu-GY8UqTVw"
                                ><span
                                    class="fab fa-fw fa-youtube-square mbr-iconfont mbr-iconfont-btn"
                                ></span
                                >{{ _("YouTube") }}</a
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
