{% extends "base.html.jinja" %}
{% block title %}{{ _("Bestboi HD") }}{% endblock %}
{% block content %}
    <section data-bs-version="5.1"
             class="header11 cid-t8hdfeMrKF mbr-fullscreen mbr-parallax-background"
             id="header11-22">
        {# <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script> #}
        <script type="module"
                src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
        <div class="mbr-overlay"
             style="opacity: 0.8;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 image-wrapper">
                    <style>
                    model-viewer#reveal {
                        --poster-color: transparent;
                    }
                    </style>
                    <model-viewer id="reveal" loading="eager" bounds="tight" enable-pan="" src="{{ url_for("static", filename="models/hd.gltf") }}" camera-controls="" environment-image="neutral" poster="{{ url_for("static", filename="models/hd_poster.png") }}" shadow-intensity="1">
                    <div class="progress-bar hide" slot="progress-bar">
                        <div class="update-bar"></div>
                        <script type="module"
                                src="{{ url_for("static", filename="js/progress-bar.js") }}"></script>
                    </div>
                    </model-viewer>
                </div>
                <div class="col-12 col-md">
                    <div class="text-wrapper text-center">
                        <h1 class="mbr-section-title mb-3 display-2">
                            <strong>{{ _("Bestboi HD") }}</strong>
                        </h1>
                        {#<p class="mbr-text display-7">
                        <em
                            >The original bestboi but now refined and in HD<br /></em
                        >{{ _("You can move the preview on the right!") }}
                    </p>#}
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-secondary display-7"
                               href="https://zexc.gumroad.com/l/BestboiHD"><span class="material material-file-download mbr-iconfont mbr-iconfont-btn"></span>{{ _("Download") }}</a>
                            <a class="btn btn-secondary display-7" href="#"><span class="fas fa-fw fa-file mbr-iconfont mbr-iconfont-btn"></span>{{ _("Download SPP file") }}</a>
                            <a class="btn btn-secondary display-7" href="#setup-video"><span class="material material-ondemand-video mbr-iconfont mbr-iconfont-btn"></span>{{ _("Setup Tutorial") }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#<section
    data-bs-version="5.1"
    class="info3 cid-t8hdffwxZn mbr-parallax-background"
    id="info3-24"
>
    <div
        class="mbr-overlay"
        style="opacity: 0.8; background-color: rgb(35, 35, 35)"
    ></div>

    {#<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4
                            class="card-title align-center mb-4 display-1"
                        >
                            <strong>Bestboi Clothing</strong>
                        </h4>
                        <p class="mbr-text mb-4 display-7">
                            Nice outfits freshly produced for the models, choose
                            whichever you like.
                        </p>
                        <div class="mbr-section-btn mt-3">
                            <a
                                class="btn btn-success display-4"
                                href="{{ url_for("content.clothing") }}"
                                ><span
                                    class="fas fa-fw fa-tshirt mbr-iconfont mbr-iconfont-btn"
                                ></span
                                >Outfit Catalogue</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>#}
<section data-bs-version="5.1" class="video5 cid-t8hLT6ziP3" id="setup-video">
<div class="container">
<div class="title-wrapper mb-5">
<h4 class="mbr-section-title mb-0 display-2">
<strong>{{ _("Setup Tutorial") }}</strong>
</h4>
</div>
<div class="video-block">
<div class="video-wrapper">
<iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/n-RufM-7ZHQ" width="1280" height="720" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
</section>
{% endblock %}
