{% extends "base.html.jinja" %}
{% block title %}Bestboi Dutch Angel Dragon{% endblock %}
{% block content %}
    <section data-bs-version="5.1"
             class="header1 cid-t9f4Stj6nu mbr-fullscreen mbr-parallax-background"
             id="header1-3k">
        <div class="mbr-overlay"
             style="opacity: 0.8;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12">
                    <h1 class="mbr-section-title mb-3 display-1">
                        <strong>{{ _("Bestboi HD Dutchie") }}</strong>
                    </h1>
                    {#<p class="mbr-text display-7">
                    <em>A cute dutchie based on the Bestboi HD model<br /></em
                    >3d preview unavailable
                </p>#}
                    <div class="mbr-section-btn mt-3">
                        <a class="btn btn-success display-4"
                           href="https://zexc.gumroad.com/l/BestboiDutchie"><span class="material material-file-download mbr-iconfont mbr-iconfont-btn"></span>{{ _("Download") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
