{% extends "base.html.jinja" %}
{% block title %}{{ _("Bestbois") }}{% endblock %}
{% block content %}
    <section data-bs-version="5.1"
             class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background"
             id="header1-f">
        <div class="mbr-overlay"
             style="opacity: 0.8;
                    background-color: rgb(35, 35, 35)"></div>
        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12">
                    <h1 class="mbr-section-title mb-3 display-1">
                        <strong>{{ _("The Bestbois") }}</strong>
                    </h1>
                    <p class="mbr-text display-7">
                        {{ _("Welcome to our website! This is the main information home for the Bestbois and foxdragon species.") }}
                        <br />
                        {{ _("You can download our free VRChat models, join our Discord community, learn more about the project, meet out staff, or view our species' lore with the links below!") }}
                    </p>
                    <div class="mbr-section-btn mt-3">
                        <a class="btn btn-success display-4"
                           href="{{ url_for("content.models") }}"><span class="fas fa-fw fa-pencil-ruler mbr-iconfont mbr-iconfont-btn"></span>{{ _("Model Hub") }}</a>
                        <a class="btn btn-success display-4" href="{{ url_for("core.lore") }}"><span class="fas fa-fw fa-book mbr-iconfont mbr-iconfont-btn"></span>{{ _("Lore") }}</a>
                        <a class="btn btn-success display-4"
                           href="https://discord.com/invite/sRrXpyZ"><span class="fab fa-fw fa-discord mbr-iconfont mbr-iconfont-btn"></span>{{ _("Discord Server") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bs-version="5.1" class="gallery3 cid-t7Z6rWNlSS" id="gallery3-m">
        <div class="container-fluid">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title align-center mb-0 display-2">
                    <strong>{{ _("What is “the Bestbois”?") }}</strong
                    </h4>
                    <h5 class="mbr-section-subtitle align-center mb-0 mt-2 display-5">
                        {{ _("“The Bestbois” is a group primarily based out of VRChat and similar VR games. We are one of the oldest currently running VRChat furry communities, with ties dating back to early 2018.") }}
                        {{ _("These days we mainly operate out of our Discord server. Despite the big size, the community is tight-knit, but still very welcoming to newcomers.") }}
                        {{ _("Our models are created by our dedicated Bestboi creation team, funded by our Patreon and other sources. We are dedicated to creating high-quality, easy to edit, and fully customizable free models.") }}
                    </h5>
                </div>
                <div class="row mt-4">
                    <div class="item features-image col-12 col-md-6 col-lg-4">
                        <div class="item-wrapper">
                            <div class="item-img">
                                <img src="{{ url_for("static", filename="img/vrchat-1920x1080-2021-04-30-18-15-50.415-1137x640.png") }}"
                                     alt="{{ _("You got a friend in me") }}" />
                            </div>
                            <div class="item-content">
                                <h5 class="item-title display-2">
                                    <strong>{{ _("Friendship") }}</strong>
                                </h5>
                                <p class="mbr-text mt-3 display-7">{{ _("Meet new friends!") }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item features-image col-12 col-md-6 col-lg-4">
                        <div class="item-wrapper">
                            <div class="item-img">
                                <img src="{{ url_for("static", filename="img/vrchat-1920x1080-2020-10-30-18-13-13.782-1566x881.png") }}"
                                     alt="{{ _("4th anniversary") }}" />
                            </div>
                            <div class="item-content">
                                <h5 class="item-title display-2">
                                    <strong>{{ _("Events") }}</strong>
                                </h5>
                                <p class="mbr-text mt-3 display-7">{{ _("Join many of our events such as meetings and movie nights!") }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item features-image col-12 col-md-6 col-lg-4">
                        <div class="item-wrapper">
                            <div class="item-img">
                                <img src="{{ url_for("static", filename="img/unknown3-1566x985.png") }}  "
                                     alt="{{ _("Hell") }}" />
                            </div>
                            <div class="item-content">
                                <h5 class="item-title display-2">
                                    <strong>{{ _("Fun") }}</strong>
                                </h5>
                                <p class="mbr-text mt-3 display-7">{{ _("Experience the funny haha") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
